.Copyright{
    border: 2px solid black;
    color: black;
    /* background: linear-gradient(to right, rgb(231, 233, 231), green); */
    /* background-color: black; */
    font-size: large;
    font-weight: 900;
    height: 30px;
    align-items: center;
    text-align: center;
    width: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}