.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Jost",sans-serif;
}
html{
  font-size: 62.5%;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
.main-nav{
  margin: 0;
  padding: 0;
  display: grid;
  width: 100%;
  height: 10rem;
  grid-template-columns: 10rem 1fr 2fr 1fr 10rem;
}
.logo{
  grid-column: 2/3;
  justify-content: start;
  align-items: center;
}
.menu-link{
  grid-column: 3/4;
}
.menu-link ul{
  height: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu-link ul li a{
  text-transform: uppercase;
  color: black;
  height: 10px;
}
.menu-link ul li a:hover{
  transform-origin: left;
  text-decoration: underline;
  transition: 0.5s;
  color: green;
  border: 2px white solid;
}
.menu-link ul li{
  height: 10px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}